*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.avi
*.mp4
*.txt
bad.list
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
backup/
darknet
.fuse*
*weight*
darknet53.conv.74

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
